body, html {
    height: 100%;
}
 
h1 {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    bottom: 200px;
    color: white;
    font-size: 7rem;
    left: 200px;
    text-shadow: -10px 4px 20px rgba(0,0,0,0.4);
}

.my-footer {
    position: absolute;
    text-decoration: none;
    bottom: 1rem;
    right: 3rem;
    color: white;
}

.my-footer:hover {
    color: white;
}

.my-background {
    height: 100%;
    background-image: url("coba.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.my-container {
    position: relative;
    height: 100%;
    /* height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.card {
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 3rem;
    bottom: 4rem;
    background-color: transparent;
}

.btn-outline-danger {
    border-radius: 50%;
}

.list-group-item {
    display: flex;
    justify-items: center;
    align-items: center;
}

.checkbox-item {
    width: 10%;
}

.text-item {
    width: 80%;
}

.delete-item {
    width: 10%;
}

.btn-success {
    
}